.App {
  font-family: sans-serif;
  text-align: center;
  width: 1600px;
  height: 1040px;
  text-align: center;
  display: block;
  background: #c9ccd3;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  padding: 40px auto;
  color: rgb(255, 244, 244);
}

h1 {
  font-size: 48px;
  margin-bottom: -80px;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
  color: rgb(98, 181, 219);
}

hr {
  color: white;
}

p {
  font-family: "Work Sans", sans-serif;
}

.LoofandTimmy {
  position: relative;
  margin-left: 980px;
  margin-top: 20px;
  border: 2px solid black;
  box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.1);
  border-radius: 5px;
}

.justify-content-center {
  margin-top: -90px;
}
